{% extends 'EN_layout.html' %}
{% block content %}

<div align="center">
    <div class="jumbotron2">
        <br><br/>
        <h1 class="text-center">You can learn English fingerprint and take a test.</h1>
        <br><br/>
    </div>

    <div class="jung22">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="boxjung">
                        <a class="btn btn-primary btn-block p-6" href="Ej_study"
                           style="background-color: #0a3d62; border-color: #003127">
                            <br><img src="/static/img/e_ji.jpg" width="200px" height="130px">
                            <br><br>Fingerprint practice</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="boxjung">
                        <a class="btn btn-primary btn-block p-6" href="Ej_test"
                           style="background-color: #0a3d62; border-color: #003127">
                            <br><img src="/static/img/ji_test.jpg" width="200px" height="130px">
                            <br><br>Fingerprint quiz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}