{% extends 'layout.html' %}
{% block content %}

<div align="center">
    <div class="jumbotron2">
        <br><br/>
        <h1 class="text-center">한국어 지문자를 학습하고 시험해 볼 수 있습니다.</h1>
        <br><br/>
    </div>

    <div class="jung22">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="boxjung">
                        <a class="btn btn-primary btn-block p-6" href="j_study"
                           style="background-color: #0a3d62; border-color: #003127">
                            <br><img src="/static/img/KR_IMG.jpg" width="200px" height="130px">
                            <br><br>지문자 연습</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="boxjung">
                        <a class="btn btn-primary btn-block p-6" href="j_test"
                           style="background-color: #0a3d62; border-color: #003127">
                            <br><img src="/static/img/KR_SPELL.jpg" width="200px" height="130px">
                            <br><br>지문자 시험</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}