{% extends 'layout.html' %}
{% block content %}
<!--<div>-->
<!--    </a>-->
<!--    </li>-->

<!--    </ul>-->

<!--</div>-->

<div align="center">
    <div class="jumbotron2">
        <h1 class="text-center">안녕하세요 상명대학교 coww 개발팀의 sign_learning 입니다.</h1>
    </div>

    <div class="jung22">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="boxjung">
                        <a class="btn btn-primary btn-block p-6" href="j_study.html"
                           style="background-color: #0a3d62; border-color: #003127">
                            <br><img src="/static/img/study.jpg" width="100px" height="100px">
                            <br><br>지문자 연습</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="boxjung">
                        <a class="btn btn-primary btn-block p-6" href="j_quiz"
                           style="background-color: #0a3d62; border-color: #003127">
                            <br><img src="/static/img/test.jpg" width="100px" height="100px">
                            <br><br>지문자 퀴즈</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="boxjung">
                        <a class="btn btn-primary btn-block p-6" href="d_study"
                           style="background-color: #0a3d62; border-color: #003127">
                            <br><img src="/static/img/study.jpg" width="100px" height="100px">
                            <br><br>단어 연습</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="boxjung">
                        <a class="btn btn-primary btn-block p-6" href="d_test"
                           style="background-color: #0a3d62; border-color: #003127">
                            <br><img src="/static/img/test.jpg" width="100px" height="100px">
                            <br><br>단어 퀴즈</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}