{% extends 'layout.html' %}
{% block content %}
<div class="wrap1">
    <h1>  Hello</h1>
    <hr class="my-4">
    <div class="jumbotron">
        <h1>개발자 COWW팀을 소개합니다!</h1>
        <div class="card">


<table>
  <tr>
    <td><img alt="" src="doradora.png" width="800" height="330"/></td>
  <tr>
</table>


            <div class="card-body">

            </div>
        </div>




        <p class="lead"> 안녕하세요. 저희는 상명대학교 졸업 프로젝트 팀으로 결성된 COWW입니다.
        COWW의 뜻은 "Communication With the World"로 세상과 소통한다는 뜻입니다. </p>
        <a href="main.html"><button type="button" class="btn btn-secondary btn-lg" >처음으로</button></a>
    </div>




    </div>
</div>
{% endblock %}
